.steckbriefÜberschrift {
    font-size: 100px;
    background-color: rgb(255, 228, 181);
    padding: 30px;
    text-align: center;
}
main {
    margin: auto;
    padding: 0;
    height: 100%;
    text-align: left;
    }

section {
    min-height: 100%;
}

.infos {
    front-family: 'Roboto', sans-serif;
    front-weight: 500;
    color: black;
    background-color: white;
    text-align: left;
    margin-top: 0px;
}

.steckbriefInhalt {
    font-size: 20px !important;
    font-weight: 400;
    padding-left: 2.5em;
    margin-top: 2em;
}

.zurueckButton {
    background-color: rgb(210,105,030);
    border: none;
    color: black;
    padding: 1em;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    margin-left: 2em;
    margin-bottom: 2em;
}

a {
    text-decoration: underline;
    color: black;
}

.imgZurueckButton {
    width: 3em;
    height: auto;
    margin-right: 1em;
}
img {
  display: block;
  height: auto;
  margin-left: 0px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
}
.Ueberschrift1 {
  margin-top: 0px;
  font-size: 40pt;
  background-color: rgb(210,105,030);
  text-align: center;
}
.Einleitung {
  margin-top: -10px;
  text-align: center;
  background-color: rgb(210,105,030);
}
