.main-erstellen  {
    font-family: sans-serif;
    font-size: 16pt;
    background-color: white;
}

.ueberschrift {
    font-size: 100px;
    background-color: rgb(255, 228, 181);
    padding: 30px;
}

.ueberschrift-erstellen {
    text-align: center;
}

.bild-Upload {
    border: 5px dotted red;
    width: 10em;
    height: 10em;
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    cursor: pointer !important;
    text-align: center;

}

#inputLink {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-bild: {
    cursor: pointer !important;
}

.imgMuseum {
    width: 80%;
    height: auto;
    cursor: pointer !important;
}

.div-tabelle {
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.tabelle {
    margin: 2em;
}

.zelle-links {
    padding: 0.5em;
    width: 30%;
}

.zelle-mitte {
    width: 40%;
    padding: 0.5em;
}

.zelle-rechts {
    padding: 0.5em;
    margin-right: 2em;
}

.zelle-upload {
    margin-right: 2em;
    padding-left: 2em;
}

.form-control {
    width: 100%S !important;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-long{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-group {
    text-align: left;
}

.addButton {
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 1em;
  margin-left: 1em;
}

.deleteButton {
    background-color: red;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 1em;
    margin-left: 2em;
}
