dummy{

}

.b1{
  border-radius: 15px;
  border: solid;
  border-width:thick;
  border-color: rgb(210, 105, 030);

}
.b2{
  border-radius: 15px;
  border: solid;
  border-width:thick;
  border-color: rgb(210, 105, 030);

}


.rahmen >*  {
  background-color: white;
  padding: 30px;
  text-align: center;
}

.rahmen{
}



.ueberschrift{
  font-size: 100px;
  background-color: rgb(255,228,181 );
}

.text{
  color: navy;
}

.bilder > *{

  height: 300px;
  width: 400px;
  margin-left: 15px;
}
